body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.cabecalho{
    color: white;
    background-color: black;
    text-align: center;
    padding: 30px;
}

.cabecalho h3{
    color: rgb(206, 206, 8);
}
.carossele{
    width: 50%;
    margin: 0 auto;

}